<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            italktoomuch.com
            {{ if not .IsHome }}
                : {{ .Title }}
            {{ end }}
        </title>

        <link rel="shortcut icon" href="/images/favicon.ico">

        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
        <link rel="stylesheet" href="/css/normalize.css" />
        <link rel="stylesheet" href="/css/default.css" />
    </head>
    <body>
        <div id="header">
            <div id="logo">
                <a href="/"><strong>italktoomuch</strong>.com</a>
            </div>
            <div id="navigation">
                <a href="/">Home</a>
                <a href="/about">About</a>
            </div>
        </div>

        <div id="content">
            {{ if .IsHome }}
                <h1>All Posts</h1>
            {{ else }}
                <h1>{{ .Title }}</h1>
            {{ end}}

            {{ block "main" . }}

            {{ end }}
        </div>

        <div id="footer">
            All content by
            <a href="https://sethetter.com">Seth Etter</a>
        </div>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-31532239-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-31532239-1');
        </script>

    </body>
</html>
